@import "../node_modules/bootstrap/scss/bootstrap";

//custom variables
$border-none: none;
$border-radius: .5rem;

//desktop variables






//custom colors
$primary-color: #b9b9b9; 
$secondary-color: #000000;   

//navbar
.navbar{
background-color: $primary-color;
    
}

//buttons
.btn-primary{
    background-color: $secondary-color;
    border: $border-none;
    border-radius: $border-radius;
    
}

//cards

.carousel-inner,
.carousel-item {
    height: 500px;
    overflow: hidden;
}

.carousel-inner img {
    height: 100%;
}
 

//desktop

@media(min-width: 938px){
    .carousel-inner,
    .carousel-item{
 max-height: 600px;
 object-fit:contain;
    }

.graphic{
grid-template-columns: 1fr 1fr 1fr;    
}

.btn-primary{
   padding: 8px 16px;
}

}